body{
  background-color: rgb(92, 92, 92);
  color: rgb(235, 235, 235);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
  text-align:center;
}

.caixa{
  display:flex;
  flex-direction:column;
  align-items: center;
  border: 3px solid purple;
  width: 60%;
  margin:auto;
  background-color:rgb(160, 160, 160);
  justify-content: center;
  border-radius:10px;
  padding: 5px;
}

.caixa input{
  text-align:center;
  padding: 5px;
  border-radius:10px;
  border: 1px solid black;
}

form{
  display:flex;
  flex-direction:column;
  gap:5px;
  align-items: center;
}

.caixa a,
.caixa button{
  all: unset;
  display: inline-block;
  text-align:center;
  padding: 5px;
  border-radius:10px;
  border: 1px solid black;
  color:white;
  background-color:purple;
  text-decoration:none;
  color:white;
  font-size: 12px;
  width: 50px;
}

.caixa a:hover,
.caixa button:hover{
  border: 1px solid black;
  color:white;
  background-color:rgb(175, 0, 175);
}

.resultados{
  font-weight: bold;
  text-align:center;
  color:white;
}

.caixa h5{
  margin: 0;
}